@charset "utf-8";

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  --primary-font-family: "Inter";
  --background-color: hsl(0, 0%, 8%);
  --profile-color: hsl(0, 0%, 12%);
  --nav-color: hsl(0, 0%, 20%);
  --hover-color: hsl(75, 94%, 57%);
  --font-color: hsl(0, 0%, 100%);
}

main {
  background: var(--background-color);
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: var(--primary-font-family);
  color: var(--font-color);
  font-size: 1.2rem;
}

.container {
  background: var(--profile-color);
  border-radius: 1rem;
  padding: 2rem;
  width: 30rem;
  margin-bottom: 2rem;
}

.profile-bio {
  text-align: center;
}

.profile-photo {
  margin-bottom: 1.8rem;
}

.profile-photo img {
  border-radius: 50%;
  width: 6rem;
  height: 6rem;
}

.profile-name {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.location {
  color: var(--hover-color);
  margin-bottom: 2.2rem;
}

.skill {
  margin-bottom: 1.8rem;
}

.profile-links a {
  display: block;
  text-align: center;
  background: var(--nav-color);
  margin-bottom: 1.2rem;
  padding: 1rem;
  border-radius: 0.5rem;
  font-weight: 600;
}

.profile-links a:link,
a:visited {
  text-decoration: none;
  color: var(--font-color);
}

.profile-links a:hover,
a:active {
  background: var(--hover-color);
  color: var(--background-color);
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hwb(228 45% 44%);
}

/* Responsive Design */
@media only screen and (min-width: 992px) {
  .container {
    width: 32rem;
  }
  .profile-photo {
    padding-top: 2rem;
  }
}
